{% extends 'base_template.html' %}

{% block header %}
  <h1>{% block title %}Users List{% endblock %}</h1>
{% endblock %}

{% block main %}
    <div class="form-signin">
        Are you sure you want to remove Exercise #{{ exercise.id }}?
        <form method="post" action="{{ url_for('exercises.remove',exercise_id=exercise.id) }}">
            <input type="hidden" name="rm_id" id="rm_id" value="{{ exercise.id }}">
            <div class="form-group">
                <input class="btn btn-danger btn-block" type="submit" value="Remove Exercise">
            </div>
        </form>
    </div>
{% endblock %}